---
layout: default
---

<div class="page clearfix" index>
  <div class="left">
    <ul>
      {% if paginator.page == 1 %}
        {% for post in site.posts %}
          {% if post.stickie != true %}
            {% continue %}
          {% endif %}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="label">
              <div class="label-card">
                <i class="fa fa-calendar"></i>{{ post.date | date: "%F" }}
              </div>
              <div class="label-card">
                {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }} {% endif %}
              </div>

              <div class="label-card">
                {% include category.html %}
              </div>
            </div>
            <div class="excerpt">
              {{post.excerpt}}
            </div>
            <div class="read-all">
              <a href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-newspaper-o"></i>Read All</a>
            </div>
            <hr>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>