.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.post-widgets {
    border-top: 1px solid #eee;
    margin-top: 15px;
    text-align: center;
  }
.btn {
    background: var(--btn-default-bg);
    border: 2px solid var(--btn-default-border-color);
    border-radius: 2px;
    color: var(--btn-default-color);
    display: inline-block;
    font-size: 0.875em;
    line-height: 2;
    padding: 0 20px;
    text-decoration: none;
    transition-property: background-color;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .btn:hover {
    background: var(--btn-default-hover-bg);
    border-color: var(--btn-default-hover-border-color);
    color: var(--btn-default-hover-color);
  }
  .btn + .btn {
    margin: 0 0 8px 8px;
  }
  .btn .fa-fw {
    text-align: left;
    width: 1.285714285714286em;
  }
.reward-container {
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
    width: 90%;
}
.reward-container button {
    background: #ff2a2a;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    line-height: 2;
    outline: 0;
    padding: 0 15px;
    vertical-align: text-top;
  }
  .reward-container button:hover {
    background: #f55;
  }
  #qr {
    padding-top: 20px;
  }
  #qr a {
    border: 0;
  }
  #qr img {
    display: inline-block;
    margin: 0.8em 2em 0 2em;
    max-width: 100%;
    width: 110px;
  }
  #qr p {
    text-align: center;
  }
  .post-copyright {
    background: var(--card-bg-color);
    border-left: 3px solid #ff2a2a;
    list-style: none;
    margin: 2em 0 0;
    padding: 0.5em 1em;
  }

.page {
    width: 750px;
    box-sizing: border-box;
    margin: 0 auto;
    // word-break: break-all;
    .left {
        width: 100%;
        float: left;
        padding: 20px 30px;
        line-height: 1.5;
        font-size: 13.5px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
        >h1 {
            margin-bottom: -10px;
        }
        a:not([title]){
            word-break: break-all;
        }
        ul {
            >h2 {
                margin-left: -40px;
                color: #000;
            }
            li {
                line-height: 1.5;
                color: #888888;
                time {
                    display: inline-block;
                    width: 105px;
                }
                .title {
                    // font-weight: bold;
                    color: #536ea8;
                    transition: 0.3s ease;
                    &:hover {
                        color: #4d6dad;
                    }
                }
                i {
                    margin-right: 5px;
                }
                .categories {
                    padding: 0 15px;
                    i {
                        color: #cac8c8;
                    }
                    a {
                        padding: 0 5px;
                        background-color: #f1eeee;
                        color: #536ea8;
                        font-size: 90%;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: #b6b6b9;
                        }
                    }
                }
                .pageTag {
                    i {
                        color: #c6cbe9;
                    }
                    a {

                        // border: 1px solid #aaa;
                        padding: 0 5px;
                        background-color: #c6cbe9;
                        border-radius: 4px;
                        color: #fff;
                        font-size: 90%;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: #c0ddc7;
                        }
                    }
                }
            }
        }
    }
    .anchor {
        display: none;
    }
    .right {
        visibility: hidden;
        float: left;
        width: 25%;
        padding-left: 20px;
        top: 0;
        .fixed {
            // position: fixed;
            top: 20px;
        }
        .scroll-bottom {
            position: absolute;
            bottom: 190px;
        }
        .side {
            box-sizing: border-box;
            background-color: #ffffff;
            box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
            padding-bottom: 1px;
            -ms-word-break: break-all;
            word-break: break-all;
            /* Non standard for webkit */
            // word-break: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            >div {
                padding: 12px 15px;

                // margin-right: -10px;
                border-bottom: 1px solid #c0c0c0;
                font-size: 16px;
                font-weight: bold;
            }
            a {
                color: #4d6dad;
                transition: 0.5s ease;
                &:hover {
                    color: #223253;
                }
            }
        }
        .content-ul {
            overflow-y: auto;
            padding-right: 10px;
            line-height: 1.8;
            padding-left: 35px;
            ul {
                padding-left: 20px;
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 1100px) {
    .page {
        width: 90%;
    }
}
@media screen and (max-width: 1200px) {
    .page {
        width: 93%;
        .left {
            width: 100%;
            float: left;
            padding: 10px 14px;
            font-size: 14px;
            >h1 {
                font-size: 25px;
                margin-bottom: -10px;
            }
            ul {
                padding-left: 20px;
                >h2 {
                    font-size: 20px;

                    // margin: 0;
                    margin-left: -20px;
                }
                li {
                    margin: 20px 0;
                    time {
                        display: block;
                        width: auto;
                    }
                    .title {
                        display: block;
                        font-size: 16px;
                    }
                    .categories {
                        font-size: 12px;
                        padding-left: 0;
                        padding-right: 10px;
                    }
                }
            }
        }
        .anchor {
            display: block;
            visibility: hidden;
            position: fixed;
            top: 76px;
            right: 2.5%;
            padding: 5px 10px;
            color: #000;
            font-size: 15px;
            background-color: #ffffff;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
            opacity: 0.7;
            transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
        }
        .anchor-hide {
            opacity: 0;
            visibility: hidden;
        }
        .right {
            visibility: hidden;

            // display: none;
            position: fixed;

            // z-index: 190;
            float: none;
            width: auto;
            max-width: 95%;
            padding: 0;
            top: 76px;
            right: 2.5%;
            opacity: 0;
            transform-origin: 100% 0;
            transform: scale(0.1);
            transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
        }
        .right-show {
            z-index: 999;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            .content-ul{
              margin-bottom: 0;
              >li:last-of-type{
                margin-bottom: 16px;
              }
            }
        }
    }
}
