---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <div class="label">

            <div class="label-card">
                <i class="fa fa-calendar"></i>{{ page.date | date: "%F" }}
            </div>

            <div class="label-card">
                {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }} {% endif %}
            </div>

            <div class="label-card">
                {% include category.html %}
            </div>

        </div>
        <hr>
        <article itemscope itemtype="http://schema.org/BlogPosting">
            {{content}}
        </article>
        <hr />
        <div>
            <ul class="post-copyright">
                <li class="post-copyright-author">
                    <strong>本文作者： </strong> wenfh2020
                </li>
                <li class="post-copyright-link">
                    <strong>本文链接：</strong>
                    <a href="{{ page.url | prepend: site.baseurl }}" title="{{page.title}}">{{ site.post_site }}{{
                        page.url }}</a>
                </li>
                <li class="post-copyright-license">
                    <strong>版权声明： </strong>本文可以自由拷贝，转载，请注明出处，谢谢！ 🤝
                </li>
            </ul>
        </div>
        <!-- <div class="post-widgets">
            <div id="needsharebutton-postbottom">
                <span class="btn">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                    <img src="/images/network-share-icon.png" alt="分享">
                </span>
            </div>
        </div> -->
        <hr />

        <div class="reward-container">
            <button
                onclick="var qr = document.getElementById('qr'); qr.style.display = (qr.style.display === 'none') ? 'block' : 'none';">
                ☕️
            </button>
            <div id="qr" style="display: none;">
                <div style="display: inline-block;">
                    <img src="/images/2020/2020-08-06-15-49-47.jpeg" alt="wenfh2020.com 微信小额打赏">
                </div>
            </div>
        </div>

        <!-- {% assign hasSimilar = '' %}
        {% for post in site.related_posts %}
        {% assign postHasSimilar = false %}
        {% for tag in post.tags %}
        {% for thisTag in page.tags %}
        {% if postHasSimilar == false and hasSimilar.size < 6 and post !=page and tag==thisTag %} {% if
            hasSimilar.size==0 %} <h2 id="similar_posts">文章推荐</h2>
            <ul>
                {% endif %}
                <li class="relatedPost">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
                        {% if post.series %}
                        (Series: {{ post.series }})
                        {% endif %}
                    </a>
                </li>
                {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                {% assign postHasSimilar = true %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% endfor %}
                {% if hasSimilar.size > 0 %}
            </ul>
            {% endif %}

            {% include previousAndNext.html %} -->

        <!-- <h2 id="comments">Comments</h2>
        {% include comments.html %} -->
        <div id="gitalk-container"></div>
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">
            <!-- Content -->
            <div class="side content">
                <div>
                    <i class="fa fa-bars"></i>
                    目录
                </div>
                <ul id="content-side" class="content-ul">
                    <!-- {% if hasSimilar.size > 0 %}
                    <li><a href="#similar_posts">文章推荐</a></li>
                    {% endif %} -->
                    <!-- <li><a href="#comments">Comments</a></li> -->
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <br />
            <div class="side">
                <div>
                    <i class="fa fa-external-link"></i>
                    我的链接
                </div>
                <ul class="content-ul">
                    <li><a href="https://github.com/wenfh2020" target="_blank">Github</a></li>
                    <li><a href="https://www.processon.com/u/56e76de5e4b05387d036f99e/profile"
                            target="_blank">Processon</a></li>
                    <li><a href="https://space.bilibili.com/433359725" target="_blank" style="color:red">Bilibili</a>
                    </li>
                </ul>
            </div>
            <br />
            <!-- <div class="side">
                <div>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    近期文章
                </div>
                <ul class="content-ul" recent>
                    {% for post in site.posts offset: 0 limit: 8 %}
                    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div> 
            <br />-->
            <div class="side">
                <div>
                    <i class="fa fa-th-list"></i>
                    文集
                </div>
                <ul id="categories-list" class="content-ul" cate>
                    {% for category in site.categories%}
                    <li class="categories-list-item">
                        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}"
                            cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }}
                            </span>
                            <span class="badge">({{ category | last | size }})</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <br />
            <div class="side content">
                <div>
                    归档
                </div>
                <ul id="content-side" class="content-ul">
                    {% assign counter = 0 %}
                    {% for post in site.posts %}
                    {% assign thisyear = post.date | date: "%Y" %}
                    {% assign prevyear = post.previous.date | date: "%Y" %}
                    {% assign counter = counter | plus: 1 %}
                    {% if thisyear != prevyear %}
                    <li><a data-scroll href="{{ root_url }}/archive/#y{{ post.date | date: '%Y' }}">{{ thisyear }}
                            ({{ counter }})</a>
                    </li>
                    {% assign counter = 0 %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    /**
     * target _blank
     */
    (function () {
        var aTags = document.querySelectorAll('article a:not([id])')
        for (var i = 0; i < aTags.length; i++) {
            aTags[i].setAttribute('target', '_blank')
        }
    }());
</script>
<script src="{{ " /js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>

<!-- <script src="//cdn.jsdelivr.net/gh/theme-next/theme-next-needmoreshare2@1/needsharebutton.min.js"></script>
<script>
    pbOptions = {};
    pbOptions.iconStyle = "default";
    pbOptions.boxForm = "horizontal";
    pbOptions.position = "topCenter";
    pbOptions.networks = "Wechat";
    new needShareButton('#needsharebutton-postbottom', pbOptions);
</script> -->

<!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/theme-next/theme-next-needmoreshare2@1/needsharebutton.min.css">
<style>
    #needsharebutton-postbottom {
        cursor: pointer;
        height: 26px;
        margin-top: 10px;
        position: relative;
    }

    #needsharebutton-postbottom .btn {
        /* border: 1px solid $btn-default-border-color; */
        border-radius: 3px;
        display: initial;
        padding: 1px 4px;
    }
</style> -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>


<!-- <script>
    NexT.utils.loadComments(document.querySelector('#gitalk-container'), () => {
        NexT.utils.getScript('//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js', () => {
            var gitalk = new Gitalk({
                clientID: 'cbffd8a945287feb204b',
                clientSecret: '29c4c663a2bf092979d3ba1002acbe4e5fd95990',
                repo: 'wenfh2020.github.io',
                owner: 'wenfh2020',
                admin: ['wenfh2020'],
                id: location.pathname,
                language: 'zh-CN',
                distractionFreeMode: true
            });
            gitalk.render('gitalk-container');
        }, window.Gitalk);
    });
</script> -->

<script type="text/javascript">
    var title = location.pathname.substr(0, 50);//截取路径的前50个字符作为标识符
    var gitalk = new Gitalk({
        // gitalk的主要参数
        clientID: "{{ site.gitalk_clientid }}",
        clientSecret: "{{ site.gitalk_secret }}",
        repo: 'wenfh2020.github.io',
        owner: 'wenfh2020',
        admin: ['wenfh2020'],
        id: title,//因为这里不能超过50字符，所以做了处理，当超过50时自动截取前50
        language: 'zh-CN',
    });
    gitalk.render('gitalk-container');
</script>

<!-- <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<script>
    (function () {
        var cat_map = {
            co_kimserver: 10001,
            libco: 10000,
            redis: 9900,
            kernel: 9888,
            epoll: 9880,
            'c/c++': 9800,
            Linux: 9700,
            kimserver: 9600,
            '网络': 9500,
            '科技': -1,
            '随笔': -2
        };


        var get_score = function (key) {
            var score = cat_map[$.trim(key)];
            // console.log(score);
            return (typeof (score) != "undefined") ? score : 0;
        }

        var sortDom = function ($domlist) {
            var $item = $domlist.find('.categories-list-item');
            var $newList = Array.prototype.sort.call($item, function (a, b) {
                return get_score($(b).find('.name').html()) - get_score($(a).find('.name').html());
            });
            return $newList;
        }

        var $domlist = $("#categories-list");
        var $result = sortDom($domlist);
        $("#categories-list").html($result);
    })();
</script>